<!DOCTYPE html>
<html>
<head>
	<title>Timetracker</title>
	<link rel="stylesheet" href="./css/style.css" type="text/css" media="all" />
	<script src="./js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/backbone-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/timetracker.js" type="text/javascript" charset="utf-8"></script>
	<meta charset="utf-8" />
</head>
<body>
	<header><h1>Timetracker</h1></header>
	<nav>
		<ul>
		<li><a href="#">Dashboard</a></li>
		<li><a href="#times">Times</a></li>
		<li><a href="#settings">Settings</a></li>
		</ul>
	</nav>

	<main>
		<table id="timetable"></table>
		<section id="commands">
			<a href="#" alt="Create">Create new timer</a>
		</section>
	</main>
	<footer>by Markus Klinga</footer>
	<script id="testTemplate" type="text/template">
<strong><%= userId %></strong> (<%= timerId %>) - <%= begin %> - <%= end %>
	</script>
</body>
</html>
