body {
	padding: 100px;
	width: 1000px;
	margin: 0 auto;
}

main {
	padding: 100px;
}

#commands {
	border-top: 1px solid #ddd;
	margin-top: 25px;
	padding: 25px;
}

#timetable {
	border-collapse: collapse;
	text-align: left;
}

#timetable th {
	background: #ccd;
}

#timetable th, #timetable td {
	padding: 20px;
}

#timetable tbody > tr:hover {
	background-color: #eef;
}
